<header class="menu">
    <a href={% url "index" %} class="GoToMain"><img class="GoToMain" src={% static "img/Logo.webp" %}></a>

    <div class="container-fluid" >
        <div class="row BeforeKnopka">
            <div class="col MenuTable" >
                <a href={% url "menu" %} class="GoToMenu">Меню</a>
                <a href={% url "contacts" %} class="GoToTeam">О команде</a>
                <a href={% url "all_posts" %} class="GoToPosts">Посты</a>
            </div>
        </div>

        <div class="dropdown Knopka">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="MenuKnopka" src={% static ""img/Кнопка.png"" %}>
            </a>
          
            <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
              <li><a href={% url "menu" %} class="GoToMenu">Меню</a></li>
              <hr>
              <li><a href={% url "contacts" %} class="GoToTeam">О команде</a></li>
              <hr>
              <li><a href={% url "all_posts" %} class="GoToPosts">Посты</a></li>
            </ul>
          </div>
    </div>
</header>