{% extends "base_auth.html" %}
{% load static %}
{% block content %}
<header class="menu">
    <a href={% url "index" %} class="GoToMain"><img class="GoToMain" src={% static "img/Logo.webp" %}></a>

    <div class="container-fluid" >
        <div class="row BeforeKnopka">
            <div class="col MenuTable" >
                <a href={% url "menu" %} class="GoToMenu">Меню</a>
                <a href={% url "contacts" %} class="GoToTeam">О команде</a>
                <a href={% url "all_posts" %} class="GoToPosts">Посты</a>
            </div>
        </div>

        <div class="dropdown Knopka">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="MenuKnopka" src={% static "img/Кнопка.png" %}>
            </a>
          
            <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
              <li><a href={% url "menu" %} class="GoToMenu">Меню</a></li>
              <hr>
              <li><a href={% url "contacts" %} class="GoToTeam">О команде</a></li>
              <hr>
              <li><a href={% url "all_posts" %} class="GoToPosts">Посты</a></li>
            </ul>
          </div>
    </div>
</header>
<form class="FormContainer" method="post">
    {% csrf_token %}
    <h1 class="text-center">Регистрация</h1>
    {% include "forms_errors.html" %}

    <div class="row text-center justify-content-center">

        <div class="col-6">

            <div class="row">
                <label class="FontLabel ForLabel" for="username">Имя пользователя (логин)</label>
                <input class="WhyPadding" type="text" id="username" value="{{ form.username.data|default:"" }}"
                name="username" placeholder="Введите имя пользователя" required>
            </div>
            

        </div>


        <div class="col-6">

            <div class="row align-items-center">

                <div class="col">
                    <p class="Myp FontLabel ForLabel">Пол</p>
                </div>

                <div class="col">

                    <div class="col">
                        <input class=" WhyPadding" type="radio" id="Gender" name="genderM">
                        <label class="FontLabel ForLabel" for="Gender">Муж</label>
                    </div>
                    <div class="col">
                        <input class="WhyPadding" type="radio" id="Gender" name="genderF">
                        <label class="FontLabel ForLabel" for="Gender">Жен</label>
                    </div>
                </div>
            </div>
            
        </div>


        <div class="col-6">

            <div class="row ">
                <label class="FontLabel ForLabel" for="email">Email</label>
                <input class="WhyPadding" type="email" value="{{ form.email.data|default:"" }}"
                id="email" name="email" placeholder="Введите ваш email" required>
            </div>
            
        </div>


        <div class="col-6">

            <div class="row ">
                <label class="FontLabel ForLabel" for="PhoneNumber">Номер телефона</label>
                <input class="WhyPadding" type="tel" value="{{ form.number.data|default:"" }}"
                id="PhoneNumber" name="number" placeholder="Ваш номер телефона ">
            </div>
            
        </div>

        <div class="col-6">
            <div class="row ">
                <label class="FontLabel ForLabel" for="birthday">День рождения</label>
                <input class="WhyPadding" type="date" value="{{ form.birthday.data|default:"" }}"
                id="birthday" name="birthday" placeholder="Ваш день рождения" required>
            </div>
        </div>


        <div class="col-6">
            <div class="row ">
                <p class="Myp FontLabel ForLabel">Город проживания</p>
                <input class="WhyPadding" list="Cities" value="{{ form.city.data|default:"" }}"
                name="city" placeholder="Выберите город" required>
                <datalist id="Cities">

                </datalist>
            </div>
        </div>


        <div class="col-6">
            <div class="row ">
                <label class="FontLabel ForLabel" for="FavouriteFood">Любимая еда</label>
                <input class="WhyPadding" type="text" value="{{ form.food.data|default:"" }}"
                id="FavouriteFood" name="food" placeholder="Ваша любимая еда">
            </div>
        </div>


    </div>

    <div class="row text-center">

        <div class="col-6">
            <div class="row ">
                <label class="FontLabel ForLabel" for="password">Пароль</label>
                <input class="WhyPadding" type="password" id="password" name="password1" placeholder="Введите пароль" required>
            </div>
        </div>


        <div class="col-6">
            <div class="row ">
                <label class="FontLabel ForLabel" for="confirm-password">Повторите пароль</label>
                <input class="WhyPadding" type="password" id="confirm-password" name="password2" placeholder="Подтвердите пароль" required>
            </div>
        </div>

    </div>


    <button type="submit" class="Mybtn">Зарегистрироваться</button>

    <div class="form-footer">
        <p class="Myp">Уже есть аккаунт? <a href={% url "index" %}>На Главную</a></p>
    </div>
</form>
<script src={% static "js/register_CityDatalist.js" %}></script>
{% endblock content %}