{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Cherchenko A.">
    <link rel="shortcut icon" href={%static "img/Logo.webp" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/PersonalSpace.css" %}>
    <title>Чинг Чонг: Личный Кабинет</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 

    <header class="menu">   
        <a href="index.html" class="GoToMain"><img class="GoToMain" src={%static "img/Logo.webp" %}></a>

        <div class="container-fluid" >
            <div class="row BeforeKnopka">
                <div class="col MenuTable" >
                    <a href={% url "menu" %} class="GoToMenu">Меню</a>
                    <a href={% url "contacts" %} class="GoToTeam">О команде</a>
                    <a href={% url "all_posts" %} class="GoToPosts">Посты</a>
                </div>
            </div>

            <div class="dropdown Knopka">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="MenuKnopka" src={% static "img/Кнопка.png" %}>
                </a>
              
                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                  <li><a href={% url "menu" %} class="GoToMenu">Меню</a></li>
                  <hr>
                  <li><a href={% url "contacts" %} class="GoToTeam">О команде</a></li>
                  <hr>
                  <li><a href={% url "all_posts" %} class="GoToPosts">Посты</a></li>
                </ul>
              </div>
        </div>
        
        <div class="RightScreen ">
            <button class="Settings">Настройки</button>
        </div>
    </header>

    <main class="Project">
        <div class="OurDisplay">
            <div class="container FirstToSee">
                <div class="row text-center First">
                    <div class="col-6 PersonIcon">
                        <img id="Iconka" src={% static "img/ИконкаАватара.png" %}>
                    </div>

                    <div class="col-6 PersonInfo1">
                        <h2 class="Nickname">Ник пользователя: {{current.username}}</h2>
                        <div class="row BirthAndPhone">
                            <div class="col-6 Birth">
                                <h4 class="PersonBirth">День рождения:</h4>
                                <h4 class="PersonBirth">{{current.birthday}}</h4>
                            </div>

                            <div class="col-6 Phone">
                                <h4 class="PersonPhone">Номер телефона: {{current.number}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container SecondToSee">
                <div class="row Second">
                    <div class="col-6 PersonInfo2">
                        <h4 class="Gender">Пол пользователя: {{current.get_gender_display}}</h4>
                        <h4 class="PersonName">Имя пользователя: </h4>
                        <h4 class="Email">Email пользователя:  {{current.email}}</h4>
                        <h4 class="FavouriteFood">Любимая еда:  {{current.food|capfirst|default:"Не указано"}}</h4>
                        <h4 class="City">Город проживания: {{current.city|default:"..."}}</h4>
                        <div class="row NumbersOf">
                            <div class="col-6 Posts">
                                <h5 class="NumbersOfPosts">Кол-во постов пользователя:</h5>
                            </div>

                            <div class="col-6 Likes">
                                <h5 class="NumbersOfLikes">Кол-во лайков пользователя:</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-5 AboutPerson">
                        <h4 class="col-6 TableAboutPerson">О себе:</h4>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <p>Чинг Чонг: Сеть Ресторанов<br>Китайской Кухни</p>
        <a href="index.html"><img class="GoToMain" src={% static "img/Logo.webp" %}></a><br>
        <a class="Acception" href="">Пользовательское соглашение</a>
    </footer>

</body>
</html>
