{% extends "base_main.html" %}
{% load static %}

{% block css %}
{% static 'css/contacts.css' %}
{% endblock css %}

{% block contents %}
<main>
  <div class="teams text-center">
    <div class="teamcard">
      <img class="teamimg" src={% static "img/team/MrJinJong.png" %}>
      <h1>Мистер Чинг Чонг</h1>
      <p>Основатель сети и один из сильнейших Шефов всего мира <br><br>
        Email: ChingChongBussiness@gmail.com
      </p>
    </div>

    <div class="teamcard">
      <img class="teamimg" src={% static "img/team/Yan Juanhu.png" %} >
      <h1>Ян Джуан</h1>
      <p>Верный друг Чинг Чонга <br><br>
        Email: JuanhuSuChief@gmail.com
      </p>
    </div>

    <div class="teamcard">
      <img class="teamimg" src={% static "img/team/Zhang Chingachkuk.png" %} >
      <h1>Чжен Чингочкук</h1>
      <p>Стажор <br><br>
        Email: Chingachkuk@gmail.com
      </p>
    </div>
  </div>
</main>
{% endblock contents %}