{% extends "base_main.html" %}
{% load static %}

{% block css %}
  {% static 'css/main.css' %}
{% endblock css %}

{% block contents %}
<main>
  <article class="row" id="content">
    <h2 class="sectionName">Привет Мир!</h2>

    <p> Сеть Ресторанов Чинг Чонг уже около 20 лет занимается
      выпуском первоклассной китайской продукции. Наши мастера - коренные китайцы,
      которым знакомо данное ремесло не по наслышке.
    </p>

    <hr>

    <h2 class="sectionName">Почему именно мы?</h2>

    <ul>
      <li>
        Настоящая китайская кухня: В «Чинг Чонг» подают аутентичные блюда,
        приготовленные по традиционным рецептам.
      </li>
      <li>
        Команда профессионалов: В «Чинг Чонг» работают опытные повара и
        обслуживающий персонал, которые заботятся о каждом клиенте
        и готовы предложить рекомендации.
      </li>
      <li>
        Теплая атмосфера: Ресторан славится дружелюбной атмосферой,
        где каждый гость чувствует себя как дома.
      </li>
    </ul>

    <hr>

    <h2 class="sectionName">Наша история</h2>

    <p>В городах, уже около 20 лет, работают наши рестораны китайской кухни,
      основанные двумя друзьями — Мистером Чинг Чонгом и Яном.
      Их дружба зародилась во время учебы за границей,
      и вскоре они решили открыть заведение, чтобы делиться любовью к китайской кухне.
      <br><br>
      Сначала это было небольшое кафе, где Чинг Чонг готовил традиционные блюда,
      а Ян занимался управлением. Благодаря вкусной еде и уютной атмосфере сеть «Чинг Чонг»
      быстро завоевал популярность.
    </p>

    <hr>

    <h2 class="sectionName">Наше меню</h2>


    <p>Взгляните на наш <i>широкий</i> спектр различных блюд в нашем меню!</p>
    <div id="menubutton">
      <div class="row text-center badrow">
        <a href={%url "menu" %}><button class="navbutton" id="articlebutton">Наше Меню!</button></a>

      </div>
    </div>
  </article>
</main>
{% endblock contents %}