{% extends "base_main.html" %}
{% load static %}

{% block css %}
{% static 'css/menu.css' %}
{% endblock css %}

{% block contents %}
<main>
  <div id="FoodCarousel" class="carousel slide">


    <div class="carousel-indicators">
      <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>


    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={% static "img/food/Pork.jpg" %} class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h1>Свинина в кисло-сладком соусе</h1>
          <p>Блюдо пользуется заслуженным успехом у гурманов во всем мире.
            Сначала кусочки свинины обжаривают, а затем тушат, добавив кисло-сладкий соус.
            Именно соус делает блюдо особо пикантным и запоминающимся.
            <br><br>
            828ккал, БЖУ - 36, 9, 146
          </p>
        </div>
      </div>


      <div class="carousel-item">
        <img src={% static "img/food/Chicken.png" %} class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h1>Утка по-пекински</h1>
          <p>Основа - нежнейшее мясо, изюминка которого заключается в запеченной хрустящей кожице.
            Настоящее оригинальное блюдо готовят несколько дней.
            Сложный маринад и особая технология запекания делают это блюдо неповторимым.
            <br><br>
            420ккал, БЖУ - 4.9, 28.6, 35.6
          </p>
        </div>
      </div>


      <div class="carousel-item">
        <img src={% static "img/food/Pelmeni.jpg" %} class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h1>Сяо лун бао</h1>
          <p>Основную часть начинки составляет свиной фарш,
            к которому в разные времена года китайские повара добавляют разные компоненты.
            Весной – побеги бамбука, летом – креветки, осенью – крабовое мясо.
            <br><br>
            91ккал, БЖУ - 4, 4, 10
          </p>
        </div>
      </div>


      <div class="carousel-item">
        <img src={% static "img/food/Ramen.jpg" %} class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h1>Рамен</h1>
          <p>Это блюдо считается фастфудом. Лапшу можно приготовить быстро, и она получается вкусной и сытной.
            Ее готовят с курицей, грибами, овощами, добавляя различные соусы.
            <br><br>
            436ккал, БЖУ - 10, 16, 64
          </p>
        </div>
      </div>


      <div class="carousel-item">
        <img src={% static "img/food/Eggplant.jpg" %} class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h1>Баклажаны и овощи в кисло-сладком соусе</h1>
          <p>Это фирменная китайская закуска.
            Овощи нарезают тонкими ломтиками и маринуют в луке, чесноке, перце, соли
            с добавлением разнообразных соусов.
            Затем овощи пассеруют или заправляют кипящим растительным маслом.
            <br><br>
            420ккал, БЖУ - 4.9, 28.6, 35.6
          </p>
        </div>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#FoodCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#FoodCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>
{% endblock contents %}