@import "main.css";

main {
    color: white;
}
/* Айди */
/* #cards {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* Классы */
/* .teamgroup{

} */
.row {
    margin: 0px !important;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.teamimg {
    width: 200px;
} 

.teamcard {
    flex: 1 1 200px; 
    padding: 20px;
    text-align: center;
}



@media (max-width: 600px) {
    .BeforeKnopka {
        display: none !important;
    }

    .Knopka {
        display: flex !important;
        /* Вот это чтобы справа было */
        justify-content: end;
    }

    .btn {
        text-align: end !important;
        padding: 0 !important;
    }

    .container-fluid {
        padding: 0 !important;
    }
}

.MenuTable a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: black;
}

.GoToMain {
    inline-size: 6vh;
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    background-color: white;
}

.GoToMenu {
    color: black;
    text-decoration: none;
}

.GoToTeam {
    color: black;
    text-decoration: none;
}

.GoToPosts {
    color: black;
    text-decoration: none;
}

.Knopka {
    display: none;
}

.MenuKnopka {
    inline-size: 45%;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
}

hr {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}