
.Profile_header {
    width: 100%;
}

.Profile_container {
    margin: 24px auto 24px auto;
    display: flex;
}

.grid-container.grid-item {
    padding: 12x;
}

.grid-item {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media screen and (min-width: 600px) {
    .grid-item and .Profile_avatarContainer{
        flex-grow: 0;
        flex-basis: 30%;
        max-width: 30%;
    }
}

@media screen and (min-width: 800px) {
    .grid-item and .Profile_avatarContainer{
        flex-grow: 0;
        flex-basis: 30%;
        max-width: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .grid-item and .Profile_avatarContainer{
        flex-grow: 0;
        flex-basis: 30%;
        max-width: 30%;
    }
}

.Profile_avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Profile_headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 1024px) {
    .grid-item and .Profile_headerContent{
    }
}

@media screen and (min-width: 800px) {
    .grid-item and .Profile_headerContent{
        flex-grow: 0;
        max-width: 70%;
        flex-basis: 70%;
    }
}

@media screen and (min-width: 600px) {
    .grid-item and .Profile_headerContent{
    }
}

@media (min-width: 640px) {
    .sm\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1024px) {
    .lg\:max-w-screen-lg {
        max-width: 1024px;
    }
}

@media (max-width: 799.5px) {
    .Profile_headerContent {
        align-items: center;
    }
}

.relative {
    position: relative;
}

.Avatar_position {
    position: relative;
    display: flex;
    user-select: none;
    overflow: hidden;
    border-radius: 50%;
}

.Profile_avatar {
    width: 200px;
    height: 200px;
    border: 2px solid;
}

@media (max-width: 799.5px) {
    div.Profile_avatar{
        width: 156px;
        height: 156px;
    }
}

.Profile_stats {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: -12px;
}

@media (max-width: 799.5px) {
    .Profile_stats{
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 0;
    }
}

.Profile_stat {
    display: flex;
    align-items: center;
    margin: 6px 8px;
}