h4 {
    margin-bottom: 0.7rem !important;
}

body {
    background-image: url("../img/Background.png");
    color: white !important;
}

hr {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
}

@media (max-width: 600px) {
    .BeforeKnopka {
        display: none !important;
    }

    .Knopka {
        display: flex !important;

    }
}

#Iconka {
    border-radius: 50%;
}

.Knopka {
    display: none;
}

.MenuKnopka {
    inline-size: 45%;
}

.MenuTable a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: black;
}

.FirstToSee {
    margin-top: 10px;
    margin-bottom: 4vh;
}

@media (max-width: 768px){
    .PersonIcon{
        width: 100% !important;
    }

    .PersonInfo1 {
        width: 100% !important;
    }

    .PersonInfo2 {
        width: 100% !important;
    }

    .AboutPerson {
        width: 100% !important;
    }
}

.PersonIcon {
    margin-bottom: 20px;
}

.PersonInfo1 {
    margin-bottom: 10px;
    background-color: rgb(35, 35, 35);
    border-radius: 5%;
}

.Second{
    justify-content: space-around;
}

.PersonInfo2 {
    margin-bottom: 20px;
    background-color: rgb(35, 35, 35);
    border-radius: 5%;
}

.Nickname {
    margin-bottom: 25px;
}

.AboutPerson {
    color: black;
    border-radius: 5%;
    background-color: rgb(157, 154, 154);
    min-height: 12vh;
    margin-bottom: 15px;
}

.City {
    margin-bottom: 20px !important;
}

.footer {
    background-color: rgb(102, 100, 100);
    text-align: end;
    color: rgb(216, 212, 212);
}

.GoToMain {
    inline-size: 6vh;
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    background-color: white;
}

.GoToMenu {
    color: black;
    text-decoration: none;
}

.GoToTeam {
    color: black;
    text-decoration: none;
}

.GoToPosts {
    color: black;
    text-decoration: none;
}

.Acception {
    color: rgb(216, 212, 212);
    text-decoration: none;
}
