body {
    background-image: url("../img/Background.png");
    margin: 0px;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

footer  {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(200, 196, 196);
}

.SoonText {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    text-align: center;
}

.Text {
    color: white;
}








@media (max-width: 600px) {
    .BeforeKnopka {
        display: none !important;
    }

    .Knopka {
        display: flex !important;
        /* Вот это чтобы справа было */
        justify-content: end;
    }

    .btn {
        text-align: end !important;
        padding: 0 !important;
    }

    .container-fluid {
        padding: 0 !important;
    }
}

.MenuTable a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: black;
}

.GoToMain {
    inline-size: 6vh;
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    background-color: white;
}

.GoToMenu {
    color: black;
    text-decoration: none;
}

.GoToTeam {
    color: black;
    text-decoration: none;
}

.GoToPosts {
    color: black;
    text-decoration: none;
}

.Knopka {
    display: none;
}

.MenuKnopka {
    inline-size: 45%;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
}

hr {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}