{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Чинг Чонг</title>
    <link rel="stylesheet" href={% static "css/menu.css" %}>
    <meta charset="utf-8">
    <meta name="author" content="Cherchenko A.">
    <link rel="shortcut icon" href={% static "img/Logo.webp" %}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
    
    {% include "main_header.html" %}


    <div>
      <div id="logo">
        <img id="logoimg" src={% static "img/Logo.webp" %}>
      </div>
      <h1 id="title">Чинг Чонг: Меню</h1>
      <!-- Панель навигации -->
      <nav class="navmenu">

        <div class="row badrow">
          <div class="col badcol">
            <a href={% url "menu" %}><button class="navbutton">Меню</button></a>
          </div>
          <div class="col badcol">
            <a href={% url "index" %}><button class="navbutton">Главная</button></a>
          </div>
          <div class="col badcol">
            <a href={% url "contacts" %}><button class="navbutton">О команде</button></a>
          </div>
          
        </div>
      </nav>
    </div>

    <main>


      <!-- <div class="foodinfo text-center">

        <div class="row">
          <div class="foodgroup">
            <img class="foodimg" src="img/food/Chicken.png">
            <h1>Утка по-пекински</h1>
            <p>Основа - нежнейшее мясо, изюминка которого заключается в запеченной хрустящей кожице. 
            Настоящее оригинальное блюдо готовят несколько дней. 
            Сложный маринад и особая технология запекания делают это блюдо неповторимым.
            <br><br>
            420ккал, БЖУ - 4.9, 28.6, 35.6
            </p>
          </div>

          <div class="foodgroup">
            <img class="foodimg" src="img/food/Pork.jpg">
            <h1>Свинина в кисло-сладком соусе</h1>
            <p>Блюдо пользуется заслуженным успехом у гурманов во всем мире. 
              Сначала кусочки свинины обжаривают, а затем тушат, добавив кисло-сладкий соус. 
              Именно соус делает блюдо особо пикантным и запоминающимся.
              <br><br>
              828ккал, БЖУ - 36, 9, 146
            </p>
          </div>

          <div class="foodgroup">
            <img class="foodimg" src="img/food/Pelmeni.jpg">
            <h1>Сяо лун бао</h1>
            <p>Основную часть начинки составляет свиной фарш, 
            к которому в разные времена года китайские повара добавляют разные компоненты. 
            Весной – побеги бамбука, летом – креветки, осенью – крабовое мясо.
            <br><br>
            91ккал, БЖУ - 4, 4, 10
            </p>
          </div>

          <div class="foodgroup">
            <img class="foodimg" src="img/food/Ramen.jpg">
            <h1>Рамен</h1>
            <p>Это блюдо считается фастфудом. Лапшу можно приготовить быстро, и она получается вкусной и сытной.
            Ее готовят с курицей, грибами, овощами, добавляя различные соусы.
            <br><br>
            436ккал, БЖУ - 10, 16, 64
            </p>
          </div>
          

          <div class="foodgroup">
            <img class="foodimg" src="img/food/Eggplant.jpg">
            <h1>Баклажаны и овощи в кисло-сладком соусе</h1>
            <p>Это фирменная китайская закуска. 
              Овощи нарезают тонкими ломтиками и маринуют в луке, чесноке, перце, соли 
              с добавлением разнообразных соусов. 
              Затем овощи пассеруют или заправляют кипящим растительным маслом.
              <br><br>
              420ккал, БЖУ - 4.9, 28.6, 35.6
            </p>
          </div>

        </div>
      </div> -->




      <div id="FoodCarousel" class="carousel slide">


        <div class="carousel-indicators">
          <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#FoodCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>


        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src={% static "img/food/Pork.jpg" %} class="d-block w-100">
            <div class="carousel-caption d-md-block">
              <h1>Свинина в кисло-сладком соусе</h1>
              <p>Блюдо пользуется заслуженным успехом у гурманов во всем мире. 
              Сначала кусочки свинины обжаривают, а затем тушат, добавив кисло-сладкий соус. 
              Именно соус делает блюдо особо пикантным и запоминающимся.
              <br><br>
              828ккал, БЖУ - 36, 9, 146
              </p>
            </div>
          </div>


          <div class="carousel-item">
            <img src={% static "img/food/Chicken.png" %} class="d-block w-100">
            <div class="carousel-caption d-md-block">
              <h1>Утка по-пекински</h1>
              <p>Основа - нежнейшее мясо, изюминка которого заключается в запеченной хрустящей кожице. 
              Настоящее оригинальное блюдо готовят несколько дней. 
              Сложный маринад и особая технология запекания делают это блюдо неповторимым.
              <br><br>
              420ккал, БЖУ - 4.9, 28.6, 35.6
            </p>
            </div>
          </div>


          <div class="carousel-item">
            <img src={% static "img/food/Pelmeni.jpg" %} class="d-block w-100">
            <div class="carousel-caption d-md-block">
              <h1>Сяо лун бао</h1>
              <p>Основную часть начинки составляет свиной фарш, 
              к которому в разные времена года китайские повара добавляют разные компоненты. 
              Весной – побеги бамбука, летом – креветки, осенью – крабовое мясо.
              <br><br>
              91ккал, БЖУ - 4, 4, 10
              </p>
            </div>
          </div>


          <div class="carousel-item">
            <img src={% static "img/food/Ramen.jpg" %} class="d-block w-100">
            <div class="carousel-caption d-md-block">
              <h1>Рамен</h1>
              <p>Это блюдо считается фастфудом. Лапшу можно приготовить быстро, и она получается вкусной и сытной.
              Ее готовят с курицей, грибами, овощами, добавляя различные соусы.
              <br><br>
              436ккал, БЖУ - 10, 16, 64
              </p>
            </div>
          </div>


          <div class="carousel-item">
            <img src={% static "img/food/Eggplant.jpg" %} class="d-block w-100">
            <div class="carousel-caption d-md-block">
              <h1>Баклажаны и овощи в кисло-сладком соусе</h1>
              <p>Это фирменная китайская закуска. 
              Овощи нарезают тонкими ломтиками и маринуют в луке, чесноке, перце, соли 
              с добавлением разнообразных соусов. 
              Затем овощи пассеруют или заправляют кипящим растительным маслом.
              <br><br>
              420ккал, БЖУ - 4.9, 28.6, 35.6
              </p>
            </div>
          </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#FoodCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#FoodCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    </main>


    <footer id="footer">
      &#169; Copyright 1995-2024 Чинг Чонг.  Все права защищены...
    </footer>

    <script src={% static "js/main_loginForm.js" %}></script>
</body>
</html>